<h1>New Schedule</h1>

<%= render 'form', schedule: @schedule %>

<%= link_to 'Back', schedules_path %>


<%#<div class="field">
  <%= f.label :schedule%><%#<br>
  <%#<%= f.select(:schedule)%><%#%>
<%#</div>%><%#%>
